 .spacer{
  margin-top: 20px;
 }
 .clickable{
  cursor: pointer;
 }
 .error{
  color: red;
 }
 .success{
  color: green;
 }
 
    
.table{margin-bottom:0px;}   

.right {
    float: right;
   
     
    
}   