<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header :: header">
<meta charset="UTF-8"/>
<title>Acceuil</title>

</head>
<body class="container">
   
   
 <header>
		<nav class="navbar navbar-light" style="background-color: black;">

			<div class="container-fluid">

				<ul class="nav navbar-nav">
                     
              

       
                  <li><a th:href="@{/domaines}">Cartographie des domaines</a></li>
             

          
                     
					 
         

				</ul>
				<ul class="nav navbar-nav navbar-right">
                 <li><a th:href="@{/profile}">Profil</a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Déconnecter</a></li>
                 </ul>
			</div>
		</nav>
	</header>
	<h3 th:inline="text" align="center">Bonjour
		[[${#httpServletRequest.remoteUser}]]</h3>
	   <div  th:include="fragments/footer :: footer"></div>
</body>
</html>