<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
	    layout:decorator="index">
<head>
<meta charset="UTF-8"/>
<title>Acceuil</title>

</head>
<body class="container">
   
   <div layout:fragment="content" >
	       <h2 th:text="${domain.nom}"></h2>
	    <div class="panel panel-default">
			<div class="panel-heading">
				<ul class="nav nav-pills">
				<li ><a th:href="@{/ListProcessus(domain=${domain.codeDomain})}" class="btn btn-success">Liste des Processus</a></li>
				    
					 
			  <li> <a  th:href="@{/AjoutProcessus(domain=${domain.codeDomain})}" class="btn btn-primary"> Ajouter un nouvel processus</a></li>
			   <li> <a  th:href="@{/SupprimerProcessus(domain=${domain.codeDomain})}" class="btn btn-danger"> Supprimer un processus</a></li>
			  
					
					 
				</ul>
			</div>
			<div class="panel-body">
				<div class="container row">
								<span class="success" th:utext="${successMessage}"></span>
					<div th:if="${processus}">
					    <form th:action="@{/AjoutProcessus}" th:object="${processus}" method="post"
							class="form-horizontal" role="form">
					       <div class="form-group">
								<div class="col-sm-9">
									 <input type="text" th:value="${domain.codeDomain}" th:attr="name='domaine'"  style="display:none;"/>
									

								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9">
									<label>Description</label> <input type="text"
										class="form-control" th:field="*{nom}" /> <span
										th:if="${#fields.hasErrors('nom')}"
										th:errors="*{nom}" class="error"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
								</div>
							</div>
							<span class="success" th:utext="${successMessage}"></span>
						</form>
					</div>
					  <div th:if="${processusAsupprimer}">
				         <form th:action="@{/SupprimerProcessus}"  method="post"
							class="form-horizontal" role="form">
					       <div class="form-group">
								<div class="col-sm-9">
									 <input type="text" th:value="${domain.codeDomain}" th:attr="name='domaine'"  style="display:none;"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9">
									<label>Processus</label> <select 
										class="form-control" name="processus" >
										<option  th:each="p:${processusAsupprimer}" th:value="${p.codeProcessus}" th:text="${p.nom}"></option>
										</select>
								</div>
							</div>
							 
							
							<div class="form-group">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary">supprimer</button>
								</div>
							</div>
							
							<span class="success" th:utext="${successMessage}"></span>
						</form>
				    </div>
			   </div>
			   		
	 <div th:if="${listProcessus}">
	   <div class="list-group" align="center" th:each="p:${listProcessus}">
	      <a th:href="@{/processus(processus=${p.nom},codeProcessus=${p.codeProcessus})}" th:text="${p.nom}" class="list-group-item list-group-item-action list-group-item-danger"></a>
	    
	    
	 </div>
  </div>
 </div>
</div>
</div>  
</body>
</html>